{% extends "base.html" %} {% block title %}Fluxs{% endblock %} {% block body %}
<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-11 col-xs-12">
            {%for flux in fluxs %}
            <h1 class="text-center text-secondary my-4"><strong>{{flux.feed.title}}</strong></h1>
            <h5 class="text-center text-secondary my-4"><strong>{{flux.feed.subtitle}}</strong></h5>
            {%for post in flux.entries %}
            <article>
                <div class="row bg-info rounded py-2 px-1">
                    <div class="col-sm-6 col-md-4 text-center">
                        <figure>
                            <img src="{{post.links[1].href}}" class="img-fluid rounded">
                        </figure>
                        <a href="{{post.link}}"><button type="button" class="btn btn-success">Voir l'article</button></a>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{post.title}}</h4>
                        <hr>
                        <p>{{post.description|striptags}}</p>
                    </div>
                    <div class="d-flex ml-auto mt-auto">
                        <div class="align-middle">
                            <p class="text-secondary d-inline mb-0 mr-2">{{post.published|dt}}</p>
                            <img src="{{flux.feed.image.href}}" class="img-fluid" width="50" height="50">
                        </div>
                    </div>

                </div>
            </article><br> {%endfor%} {%endfor%}
        </div>
    </div>
</div>
{% endblock %}