{% extends "base.html" %} {% block title %}Liste{% endblock %} {% block body %} {%for elem in liste %}
<h5 class="bg-info px-2 py-2 rounded text-center">{{elem.title}} - {{ elem.rss }}
    <a href="{{url_for('abonnement_show', abonnement_id=elem.id)}}"><button type="button" class="btn btn-dark mx-2">Voir</button></a>
    <form class="d-inline" action="{{url_for('abonnement_delete', abonnement_id=elem.id)}}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
        <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
    </form>

</h5>
{% endfor %} {% endblock %}