{% extends "base.html" %} {% block title %}Liste{% endblock %} {% block body %}
<div class="container-fluid">
    <div id="alert" class="alert alert-danger col-12 d-none"></div>
    <h1 class="text-center text-secondary my-4"><strong>Mon compte</strong></h1>
    <div class="row">
        <div class="container pt-5">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Numéro</th>
                        <td>
                            {{ user.name }}
                        </td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>
                            {{ user }}
                        </td>
                    </tr>
                    <tr>
                        <th>Abonnements</th>
                        <td>
                            <table class="table table-striped mt-3" id="subscriptions" width="100%">
                                <thead>
                                    <tr>
                                        <th>Numéro</th>
                                        <th>Titre</th>
                                        <th>Lien</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for flux in user.abonnements %}
                                    <tr>
                                        <td class="align-middle">
                                            {{flux}}
                                        </td>
                                        <td class="align-middle">
                                            {{flux.title}}
                                        </td>
                                        <td class="align-middle">
                                            {{flux.rss}}
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ url_for('utilisateur_edit', utilisateur_id=user.id) }}" class="btn btn-primary">Modifier le compte</a>
        </div>
    </div>
</div>{% endblock %}