<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}RSS{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.css')}}">
</head>

<body>
    {% block navbar %} {% include 'menu.html' %} {% endblock %} {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <main>
        <div class="container-fluid overflow-auto">
            {% block body %} {% block corps %} {% endblock %} {% endblock %}
        </div>
    </main>
    <footer class="text-center">
        {% block footer %} &copy; Copyright 2020 by Flippo</a>. {% endblock %}
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>