{% extends 'base.html' %} {% block body %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:70vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% for field in form %}
                        <div class="form-group">
                            {% if field.widget.input_type != 'hidden' %} {{ field.label() }} {% if field.errors %} {% for error in field.errors %}
                            <div class="alert alert-error">{{ error }}</div>
                            {% endfor %} {% endif %} {% endif %} {{ field(class='form-control') }}
                        </div>
                        {% endfor %}
                        <hr>
                        <div class="form-group">
                            <input type="submit" id="sendRegister" class="btn btn-primary form-control" value="Valider">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}