{% extends 'base.html' %} {% block body %} {% if session['logged_in'] %} You're logged in already! {% else %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:auto">
        <div class="col col-md-12 col-lg-4 mt-5 text-center">
            <div class="card">
                <div class="card-body">
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <input type="username" name="username" id="username" class="form-control" placeholder="Nom d'utilisateur" required autofocus />
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" class="form-control" name="password" placeholder="Mot de passe" required />
                        </div>
                        <hr>
                        <div class="form-group">
                            <input type="submit" id="sendlogin" class="btn btn-primary form-control" value="Connexion">
                        </div>
                    </form>
                    <div id="formFooter">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="underlineHover col-auto" href="/register">Creer un compte</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock %}