<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:1%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% if session['logged_in'] %}
            <li class="nav-item ">
                <a class="nav-link h5" href="{{ url_for('home') }}">Acceuil</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link h5" href="{{ url_for('utilisateur_abonnements') }}">Mes Abonnements</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link h5" href="{{ url_for('abonne') }}">Ajouter abonnement</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-md-auto d-md-flex">
            {% if session['logged_in'] %}
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle h5" href="#" data-toggle="dropdown" id="acompteDD" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i> Mon compte
                </a>
                <div class="dropdown-menu" aria-labelledby="acompteDD">
                    <a class="dropdown-item h6" href="{{ url_for('utilisateur_show', utilisateur_id=session['user']) }}"><i class="fas fa-user"></i> Mon compte</a>
                    <a class="dropdown-item h6" href="{{ url_for('logout') }}"><i class="fas fa-user"></i> Déconnexion</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item ">
                <a href="{{ url_for('home') }}" class="nav-link h5 active"><strong>Login</strong></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>