{% extends 'base.html' %} {% block body %}
<div class="container">
    <h1 class="row justify-content-center align-items-center mt-5">Création de compte</h1>
    <hr>
    <div class="row justify-content-center align-items-center" style="height:70vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="/register" method="POST">
                        <div class="form-group">
                            <input type="username" name="username" id="username" class="form-control" placeholder="Username" required autofocus />
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" class="form-control" name="password" placeholder="Mot de passe" required />
                        </div>
                        <hr>
                        <div class="form-group">
                            <input type="submit" id="sendRegister" class="btn btn-primary form-control" value="Créer">
                        </div>
                    </form>
                </div>
            </div>
            <a href="/"><button type="button" class="btn btn-outline-danger fixed-top my-1 mx-1"><i class="fas fa-times"></i></button></a>
        </div>
    </div>
</div>
{% endblock %}